body {
  margin: 0 auto;
  background: black;
  overflow: hidden;
}

div#content {
  position: absolute;
  height: 100%;
  width: 100%;
}

a.contacts,
h2.game {
  font-family: 'HELVETICA', monospace;
  font-weight: bold;
  color: white;

  position: fixed;
  z-index: 0;
  text-decoration: none;
  left: -3vw;

}

a.contacts{
  font-size: 32vw;
  bottom: -5vw;
}

h2.game {
  font-size: 41vw;
  bottom: -8vw;
}

a.ph {

  position:fixed;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}


figure {
  width: 30vh;
  height: 30vh;
}


section.contacts {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 40vh;
}

a.cont {
  font-family: 'HELVETICA', monospace;
  color: white;
  font-size: 2vw;
  margin: 1vw;
  text-decoration: none;
}


h1 {
  font-family: "HELVETICA", monospace;
  color: white;
  font-size: 6vw;
  margin: 10px;
}


section.madeby {
  position: fixed;
  top: 97vh;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2, a.madeby {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 0.5vw;
}

.video {
  height: 100%;
  width: 100%;
}


figure {
  width: 30vh;
  height: 30vh;
}


a.start {
  font-family: "Helvetica", monospace;
  color: white;
  font-size: 4vw;
  padding-bottom: 6vh;
  z-index: 1;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
div.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
figure.result {
  background-size: cover;
  height: 20vh;
  width: 40vh;
  z-index: 6;
  top: 10vh;
  position: absolute;
}

.cool {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

div.iphone {
  display: none;
}

/*.cool,
.bad,
.notbad {
  top: 10vw;
  left: 35vw;
}*/
