body {
  margin: 0 auto;
  background: #FCE0EC;
  overflow: hidden;
}

div#container {
  position: absolute;
  height: 100vh;
  width: 100%;
}

h1 {
  color: white;
  font-size: 100px;
  position: absolute;
  z-index: 1;
}

/*.first {
  width: 800px;
  height: 500px;
  background-image: url(https://pp.vk.me/c626419/v626419694/520f8/IAH8uqfpgNU.jpg);
  position: fixed;
  transition: all 1s ease;
}


.second {
  width: 800px;
  height: 500px;
  background-image: url(https://pp.vk.me/c626419/v626419694/520f8/IAH8uqfpgNU.jpghttps://pp.vk.me/c837632/v837632694/21043/TxYApxLBFHU.jpg);
  position: fixed;
  transition: all .30s ease-out 0.5s;
}*/



figure.video {
  width: 20vh;
  height: 20vh;
  position:fixed;
  background-size: cover;
}

.clone {

    position: absolute;

    top: 0;

    left: 0;

}

.clone > iframe {

    width: 100%;

    height: 100%;

}

.a {top: 10vh; left: 50vh}
/*figure.b {top: 30vh; left: 10vh}
figure.c {top: 6vh; left: 20vh}
figure.d {top: 45vh; left: 78vh}
figure.e {top: 72vh; left: 36vh}
figure.g {top: 89vh; left: 90vh}
figure.h {top: 63vh; left: 18vh}
figure.i {top: 54vh; left: 44vh}
figure.j {top: 93vh; left: 66vh}
figure.k {top: 20vh; left: 21vh}
figure.m {top: 32vh; left: 85vh}
figure.n {top: 84vh; left: 30vh}
figure.o {top: 98vh; left: 74vh}
figure.p {top: 55vh; left: 58vh}
figure.q {top: 28vh; left: 8vh}*/
