@media only screen  and (max-device-width :568px) {

  #content {
    display: none;
  }

  div.iphone {
    height: 100%;
    width: 100%;
    display: block;
    background: black;
  }

  p {
    height: 100%;
    font-family: 'Helvetica', monospace;
    font-size: 8.5vw;
    font-weight: bold;
    color: white;
  }
}
