.a {
  background-image: url(../images/breakfast.jpg);
}
.b {
  background-image: url(../images/chtivo.jpg);
}
.c {
  background-image: url(../images/napoleon.jpg);
}
.d {
  background-image: url(../images/lambs.jpg);
}
.e {
  background-image: url(../images/garrel.jpg);
}
.f {
  background-image: url(../images/children.jpg);
}
.g {
  background-image: url(../images/mommy.jpg);
}
.h {
  background-image: url(../images/love.jpg);
}
.i {
  background-image: url(../images/klik.jpg);
}
.j {
  background-image: url(../images/frances.jpg);
}
.k {
  background-image: url(../images/fight.jpg);
}
.l {
  background-image: url(../images/lost.jpg);
}
.m {
  background-image: url(../images/banda.jpg);
}
.n {
  background-image: url(../images/moonrise.jpg);
}

.bad {
  background-image: url(https://media.giphy.com/media/AicbwRDu6zuw0/giphy.gif);
}

.notbad {
  background-image: url(https://media.giphy.com/media/KZ21KhIzzSeli/giphy.gif);
}

.cool {
  background-image: url(https://media.giphy.com/media/nnRq6EvRl982Y/giphy.gif);
}
/*.o {
>>>>>>> origin/master
  background-image: url(https://pp.vk.me/c637519/v637519694/27ced/tYIhh56gTps.jpg);
}
.p {
  background-image: url(https://pp.vk.me/c639427/v639427916/338c/vnRIpNP5MMs.jpg);
}
.q {
  background-image: url(https://pp.vk.me/c837633/v837633694/2853d/jtFnMWTxhHw.jpg);
}
*/
